[MODE]
mode={"login":"all",
      "recharge":[1,2,4],
      "register":[2,3],
      "business":"all",
      "invest":"all"}

[DATABASE]
host=172.16.10.250
port=3306
user=haowu_test
passwd=test!@#
db_name=hoss_new_20141016_bak

[email]
smtpserver = smtp.163.com
sender = z16602159899@163.com
password = zyj18003831018
receivers = 1174066702@qq.com